.*/*
!.github/*
!.devcontainer/devcontainer.json
.idea/
.vscode/

**/target/

os/src/link_app.S
os/src/linker.ld
os/last-*
os/.gdb_history
os/virt.out
tools/
pushall.sh
*.img
!img/**
kernel-rv
kernel-la

develop-guide/
AGENTS.md
CLAUDE.md
.codex
!vendor/crates/**/AGENTS.md

vendor/.global-cache
vendor/.package-cache
vendor/.package-cache-mutate
vendor/.crates*.toml
vendor/.crates*.json
vendor/bin/
vendor/git/
vendor/registry/
